<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blogs</title>

    <!-- <link rel="stylesheet" href="/stylesheets/blogs.css"> -->
</head> 
<body>
   <%- include('./partials/nav') %>
    <%= JSON.stringify(user)%>   
    <div class="container mt-3 mb-6">
        <div class="row row-cols-4">
            <% blogs.forEach(blog => { %>
                <div class="col">
                    <div class="card col" style="width: 18rem; margin-bottom: 16px; margin-left: 12px; border-radius: 14px; height: 300px;">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title" style="font-size: larger; font-weight: 700;"><%= blog.title %></div>
                            <% 
                                const truncatedBody = blog.body.length > 50 ? blog.body.substring(0, 100) : blog.body;
                            %>
                            <p class="truncated-body"><%= truncatedBody %></p>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    <%- include('./partials/scripts') %>
</body>
<script src="/javascripts/blogNav.js"></script>
</html>