<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blogs</title>
    <!-- Add custom CSS if necessary -->
</head> 
<body style="background-color: black;">
   <%- include('./partials/nav') %>
  
    <div class="container mt-3 mb-6">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <% blogs.forEach(blog => { %>
                <div class="col">
                    <div class="card" style="border-radius: 14px; background-color: rgb(52, 51, 51); color: white;">
                        <div class="card-img-container" style="width: 100%; height: auto;">
                            <img src="<%= blog.coverImageURL %>" class="card-img-top" style="border-radius: 8px; width: 100%; object-fit: cover; height: 200px;">
                        </div>
                        <div class="card-body">
                            <div class="card-title" style="font-size: 1.2rem; font-weight: 700;"><%= blog.title %></div>
                            <% 
                                const truncatedBody = blog.body.length > 50 ? blog.body.substring(0, 100) + '...' : blog.body;
                            %>
                            <p class="truncated-body" style="font-size: 0.9rem; color: rgba(255, 255, 255, 0.7);"><%= truncatedBody %></p>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary" style="font-size: 0.9rem;">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/scripts') %>
    <script src="/javascripts/blogNav.js"></script>
</body>
</html>
